/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #f5f5f5;
  padding: 0;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding-top: 60px;
}
.container .credit {
  margin: 20px 0;
}


/* Ondra Zizka styles */
a { color: #0366d6; }
.page-header {
  padding-bottom: 0;
  margin: 0;
  border-bottom: none;
}
.page-header h1,
.page-header h2 {
  border-bottom: 1px solid limegreen; /* dodgerblue */
}
.page-header h1 { line-height: 1.2; }

/** Position the date left of the title. */
.document.post .date {
    font-style: italic;
    float: left;
    position: relative;
    left: -80px;
    display: inline-block;
    width: 1px;
    top: 3px;
}

/** Posts separator. */
.document-list hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid limegreen; /* dodgerblue */
    margin: 1em 0;
    padding: 0;
}
