/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #f5f5f5;
  padding: 0;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/* Style tweaks inspired by https://chromeunboxed.com/news/new-google-home-features-IO-available/ */
body { background: linear-gradient(350deg,#fff,#fff,#eaeaea) no-repeat; }

#wrap > .container {
  background: white;
  box-shadow: 0 0px 7px #ccc;
  padding-top: 60px;
}
.navbar-default { box-shadow: gray 0px 0px 2px; }

#footer > .container .credit {
  margin: 20px 0;
}


/* Ondra Zizka styles */

/** General */
a { color: #0366d6; }


#wrap > .container { padding-top: 51px; }  /* No space between banner and menu. */
#banner, .banner {
    background: url("../img/bgHeader-BrnoVyhledHady.jpg");
    background-position: 46% -320px;
    background-attachment: fixed;
    background-size: cover;
    height: 200px;
    margin: 0 0 1ex 0;
}

.page-header {
  padding-bottom: 0;
  margin: 0;
  border-bottom: none;
}
.page-header h1 { line-height: 1.2; }
.page-header h1,
.page-header h2 {
  border-bottom: 1px solid limegreen; /* dodgerblue */
}

.document .title { font-size: 2.5em; }

/** No top margin for the first heading.
.document .doc-body > h1:not(.jbakeExtractedTitle) { margin-top: 0; }
.document .doc-body > h2:not(.jbakeExtractedTitle) { margin-top: 0; }
.document .doc-body > h3:not(.jbakeExtractedTitle) { margin-top: 0; }
.document .doc-body > h1:nth-child(n+1) { margin-top: 20px; }
.document .doc-body > h2:nth-child(n+1) { margin-top: 20px; }
.document .doc-body > h3:nth-child(n+1) { margin-top: 20px; }
 */
/** No top margin for the first heading, attempt 2. */
.document .doc-body > *:nth-child(n+1),
.document .doc-body > .jbakeExtractedTitle + h1,
.document .doc-body > .jbakeExtractedTitle + h2,
.document .doc-body > .jbakeExtractedTitle + h3 { margin-top: 0; }

.doc-body h1, .doc-body h2, .doc-body h3, .doc-body h4, .doc-body h5, .doc-body h6 { margin-bottom: 10px; }


/** Position the date left of the title. */
.document { position: relative; }
.document .date {
    position: absolute;
    left: -92px;
    top: 12px;

    border: 1px solid #e1e1e1;
    background-color: #fbffd6;
    box-shadow: gray 0 0 1px;
    border-radius: 5px;
    padding: 2px 1ex;
}

/** --- General document body styles. */
.document .doc-body li {
    line-height: 1.2;
    margin-top: 0;
}

/** JBake takes first top heading as a title if not set in metadata.
    But then it appears twice. This deduplicates it.  */
.document .doc-body .jbakeExtractedTitle { display: none; }


/** Posts separator in index. */
.document-list hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid limegreen; /* dodgerblue */
    margin: 1em 0;
    padding: 0;
}
.document-list .banner.post-separator {
    background-position: center;
    height: 80px;
}


/** --- The following reduces the height of a post in the index page. --- */
/** Only show "lead paragraph" (first few elements) in the index page? */
.document-list .document .doc-body > * + * + * + * + * ~ * { display: none; }
/** Reduce the height of code blocks */
.document-list .document .doc-body pre { max-height: 100px; overflow: auto; }
/* Syntaxhighlighter box */
.document-list.recent .document .doc-body .syntaxhighlighter div.lines { max-height: 140px; overflow: auto; }


/** Stars rating, social sharing - put to the same line. */
.a2a_kit { float: left; }
.rw-ui-container {
    float: left;
    margin-top: 4px;
    margin-right: 2em;
}

/*body { position: relative; }*/
#pocitadla {
    position: relative; top: -64px; right: 4px;
    /* position: absolute; bottom: 0px; right: 0px; */
    /*position: fixed; bottom: 0px; right: 0px;*/
    /* position: relative; */
}
/*#pocitadla .pocitadlo #clustrmaps { position: absolute; bottom: 0px; right: 0px; margin: 0px auto; }*/


